input[type="checkbox"] {
    accent-color:#F43F5E
    }
    .content_list:hover{
        background-color: #3e3f3f;
        cursor: pointer;;

    }


    /** FF*/
.custom-range input[type="range"]::-moz-range-progress {
    background-color: red !important ; 
  }
.stroke-white{
    stroke: #F43F5E;
}